<div class="container column">
    <div class="card-header dashboard-post center">
       <h4 class="center"><a>{{title}}</a></h4>
        <div class="card-body post-body center">
        <p class="card-body post-content description center">{{description}}</p>
        <p class="card-body post-venue center">Venue: {{venue}}</p>
        <p class="card-body post-time description center">Date: {{format_date event_time}}</p>
        {{!-- Creates a container for an image if linked by user --}}
        {{#if img_source}}
        <a class="center" href="{{img_source}}"><img src="{{img_source}}" class="flyer center" alt="flyer"/></a>
        {{/if}}

        {{!-- Adds creation date --}}
        <p class="card-text post-author">Posted on {{format_date created_at}}</p>
        </div>
    </div>
</div>